.ErrorBody{
    height: 60vh;
    width: 100%;
padding-top: 5%;
padding: auto;
line-height: 8px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

-webkit-animation: scale-down-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-down-top {
    0% {
      -webkit-transform: scale(.5);
              transform: scale(.5);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }
  @keyframes scale-down-top {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }

mark{
    background-color:rgb(88, 196, 220,.6);
    color: white;
    padding: 2px;
    border-radius: 3px;
}
